<form method="get" action="~/Home/AddTopic">
    <p>
        <label>Name new topic</label><br />
        <input type="text" name="NameTopic" />
    </p>
    <p>
        <label>New post</label><br />
        <input type="text" name="Text" />
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>